.navbar-main {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
  color: black;

  z-index: 100;
}

.logo {
  font-size: 2.0rem;
  color: #22c55e;
  font-weight: bold;
  margin-left: 2rem;
}
.anchor-logo{
  text-decoration: none;
  color:#22c55e;
  cursor: pointer;
}
.nav {
  display: flex;
  align-items: center;
}

.navComp {
  text-decoration: none;
  color: black;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-right: 1.2rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.navComp:hover {
  opacity: 0.8;
}

.login-index-btn, .get-started {
  border-radius: 100px;
  padding: 6px 12px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 1.2rem;
}

.login-index-btn {
  background-color: rgba(157, 212, 227, 1);
  border: none;
  color: white;
}

.get-started {
  position: relative;
  background-color: white;
  border: solid 2px #22c55e;
  color: #22c55e;
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden; /* Ensures the pseudo-element doesn't overflow the button */
  transition: color 0.3s ease;
}

.get-started::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #22c55e;
  transition: height 0.3s ease;
  z-index: 0; /* Place the pseudo-element behind the button text */
}

.get-started:hover::after {
  height: 100%;
}

.get-started:hover {
  color: white; /* Change text color on hover to contrast with the background */
}

.get-started span {
  position: relative;
  z-index: 1; /* Ensure text is above the pseudo-element */
}


.get-started:hover, .login-index-btn:hover {
  opacity: 0.9;
}

.navBtn {
  border: none;
  background-color: transparent;
}
