.navbar-main {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
  color: black;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  color: #22c55e;
  font-weight: bold;
  margin-left: 2rem;
}

.nav {
  display: flex;
  align-items: center;
}

.navComp {
  text-decoration: none;
  color: black;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-right: 1.2rem;
  cursor: pointer;
  font-size: 1rem;
}

.navComp:hover {
  opacity: 0.8;
}

.a, .b {
  border-radius: 100px;
  padding: 6px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  margin-right: 1.2rem;
}

.a {
  background-color: rgba(157, 212, 227, 1);
  border: none;
  color: white;
}

.b {
  background-color: white;
  border: solid 1px rgba(157, 212, 227, 1);
  color: rgba(157, 212, 227, 1);
}

.b:hover, .a:hover {
  opacity: 0.9;
}

.navBtn {
  border: none;
  background-color: transparent;
}
